body {
  margin: 40px;
}

.sidebar {
  /* grid area*/
  grid-column:1/2;
  grid-row:2/5 ;
}

.content {
  /* grid area*/
  grid-column:2/6;
  grid-row:2/5;
}

.header {
  /* grid area*/
  grid-column: 1/6;
}

.footer {
  /*grid area */
  grid-row: 5/6;
  grid-column: 1/6;;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  background-color: #fff;/*white*/
  color: #444;/*dark gray*/
/* Grid-template-columns and grid-template-areas values defined here. */
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  grid-template-areas:
    'header header header header header header'
    'sidebar content content content content content'
    'sidebar content content content content content'
    'sidebar content content content content content'
    'sidebar content content content content content'
    'footer footer footer footer footer footer';
}

.box {
  background-color: #3EB489;/*mint green*/
  color: #fff;/*white*/
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;/*light gray*/
}
